#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_cataloniacoin
#build/cataloniacoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_cataloniacoin)

DEB_INSTALL_EXAMPLES_cataloniacoind += debian/examples/*
DEB_INSTALL_MANPAGES_cataloniacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix cataloniacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f cataloniacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake cataloniacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_cataloniacoin
	src/test_cataloniacoin

# Ensure wrapper is set executable
binary-post-install/cataloniacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/cataloniacoind
binary-post-install/cataloniacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/cataloniacoin-qt
